{% extends 'base.html' %}


{% block title %}Hello, World!{% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}
        Welcome, {{ request.user.login }}<br>
        <a href="{% url 'logout' %}">Log Out</a><br>
    {% else %}
        <a href="{% url 'login' %}">Log In</a> / <a href="{% url 'register' %}">Register</a><br>
    {% endif %}
    {% if request.user.login == 'admin' %}
        some secret data<br>
    {% endif %}
    This page is for humans only. Please leave it if you are a robot.

{% endblock %}