{% extends 'base.html' %}
{% load static %}


{% block title %}Buy{% endblock %}
{% block inside_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'a8_insecure_deserialization/shop.css' %}">
{% endblock %}

{% block top_panel %}
    <div class="top_panel">
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'shop' %}">Shop</a>
        <a href="{% url 'cart' %}">Cart</a>
        <span>Balance: {{ request.user.balance }}</span>
    </div>
{% endblock %}

{% block content %}

    {{ cost }}

	{% for i in message %}
            <li> {{i}} </li>
    {% endfor %}

{% endblock %}