{% extends 'base.html' %}
{% load static %}


{% block title %}Cart{% endblock %}
{% block inside_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'a8_insecure_deserialization/shop.css' %}">
{% endblock %}

{% block top_panel %}
    <div class="top_panel">
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'shop' %}">Shop</a>
        <a class="active">Cart</a>
        <span>Balance: {{ request.user.balance }}</span>
    </div>
{% endblock %}

{% block content %}

    {% if items %}
        Total price: {{ cost }}
    {% else %}
        Your cart is empty now.
    {% endif %}

    <ul>
	    {% for i in items %}
            <li>{{ i.name }}: {{ i.count }}</li>
        {% endfor %}
    </ul>

    {% if items %}
        <a href="{% url 'buy' %}">Buy</a>
    {% endif %}

{% endblock %}