{% extends 'base.html' %}
{% load static %}


{% block title %}Shop{% endblock %}
{% block inside_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'a8_insecure_deserialization/shop.css' %}">
{% endblock %}

{% block top_panel %}
    <div class="top_panel">
        <a href="{% url 'logout' %}">Logout</a>
        <a class="active">Shop</a>
        <a href="{% url 'cart' %}">Cart</a>
        <span>Balance: {{ request.user.balance }}</span>
    </div>
{% endblock %}

{% block content %}


	{% for i in items %}
        <div class="item">
            <div class="all_without_button">
                <h2 class="item_name">
                    {{ i.name }}
                </h2>
                <img src="{% static i.image %}"/>
                <p class="desc">{{ i.description }}</p>
            </div>
            
            <div>
                <form method="post" action="{% url 'shop' %}">
                    {% csrf_token %}
                    <span class="price">Cost: {{ i.price }}</span>
                    <input name="id" value="{{ i.id }}" type="hidden">
                    <button class="add_to_cart" type="submit">Add to cart</button>
                </form>
            </div>
        </div>
    {% endfor %}

{% endblock %}