{% extends 'base.html' %}
{% load static %}


{% block title %}Private notes{% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}
        Welcome, {{ request.user.login }}<br>
        <a href="{% url 'logout' %}">Log Out</a><br>
        <a href="{% url 'new_note' %}">Create new note</a><br>

        List of your notes:
        <ul>
            {% for note in notes %}
                <li><a href="{% url 'note' %}?id={{ note.id }}">{{ note.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <a href="{% url 'login' %}">Log In</a> or <a href="{% url 'register' %}">Register</a> to create notes<br>
    {% endif %}

{% endblock %}